 body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(90deg, #4d4da1, rgb(0, 0, 116));
    margin: 0%;
}

.menu {
    background-color: #282858;
    display: block;
    width: max-content;
    height: 100vh;
}

.menu span {
    display: block;
    padding: 1rem;
}

.menu span:hover {
    background-color: grey;
    cursor: pointer;
}

.menu span:active {
    background-color: rgb(49, 49, 49);
}

.homepage {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
}

.topbar {
    flex: 1;
    padding: 1rem;
    min-width: 0;
    overflow-x: hidden;
}

/* Pictures */
.profile-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.clapboard-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.airplane-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.shopping-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.food-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.help-pic {
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Top bar */
.topbar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.back-button {
    width: 10%;
}

.back-button:hover {
    background-color: rgb(235, 179, 12);
    color: white;
}

.media-banner {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.announcement {
    width: 60%;
}

.eta {
    width: 15%;
}

.login {
    width: 15%;
}

.announcement,
.eta,
.login,
.back-button {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.login {
    cursor: pointer;
}

.login:hover {
    background-color: rgb(235, 179, 12);
    color: white;
}